@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200&display=swap');
/*  
dark: 251351
light: EFEFEF
Grey: 776871

Accent: F2BB05
Accent: 17BEBB
*/
body {
    background-color: #EFEFEF;
}
div > i {
    color: #E9F3F4;
    width: 50px;
    height: 50px;
    padding-top: 5px;
}
h1 {
    position: relative;
    margin-top: 30%;
    text-align: center;
    font-size: 5rem;
    color: #251351;
	font-family: 'Montserrat', sans-serif;
    font-weight: 200;
}
h1::after {
    content: "";
    position: absolute;
    left: 47%;
    bottom: 12px;
    width: 350px;
    height: 20px;
    transform: skew(-12deg) translateX(-50%);
    background: #17BEBB;
    z-index: -1;
}
h1:hover::after{
	content: "";
		position: absolute;
		left: 47%;bottom: 12px;
		width: 350px;
		height: 20px;
		transform: skew(-12deg) translateX(-50%);
		background: #F2BB05;
		z-index: -1;
}

div#skills>div {
	width: 60px;
	height: 60px;
	border-radius: 10px;
}

footer{
    position: absolute;
    bottom: 0;
}
footer > a {
    color: #776871;
    margin: 15px;
}
footer>a:hover {
	color: #17BEBB;
}footer>a:active {
	color: #F2BB05;
}
header ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
nav ul{
	display: flex;
	justify-content: space-evenly;
}
header a {
	font-family: 'Montserrat', sans-serif;
	font-size: 1.5rem;
	font-weight: 100;
	color: #776871;
	text-decoration: none;
	background: no-repeat 0 100%;
	background-image: linear-gradient(#F2BB05, #F2BB05);
	background-size: 0% 2px;
	transition: background-size .3s ease;
}
header a:hover, a:focus {
	background-size: 100% 2px;
}
header a:hover {
	font-weight: 200;
	color: #17BEBB;
}
header a:active {
	font-weight: 200;
	color: #F2BB05;
}
a:visited{
	color: #776871;
}

@media screen and (max-width: 1079px) {
	#skills{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	.me {
		width: 100%;
	}
	div#skills>div {
		background-color: #FF078B;
		margin: 2px;
	}
	div#skills>div:hover {
		background-color: #F2BB05;
	}
}
@media screen and (min-width: 1080px) {
	.container {
		display: flex;
	}
	.me{
		width:50%;
	}
	div#skills>div {
		position: absolute;
	}
}


/*
References

Fancy underlines: https://sharkcoder.com/visual/underline
*/