@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200&display=swap');


/*  
dark: 251351
light: EFEFEF
Grey: 776871

Accent: F2BB05
Accent: 17BEBB
*/
div > i {
    color: #E9F3F4;
    width: 50px;
    height: 50px;
    padding-top: 5px;
}
h1 {
    position: relative;
    margin-top: 30%;
    text-align: center;
    font-size: 5rem;
    color: #251351;
	font-family: 'Montserrat', sans-serif;
    font-weight: 200;
}
h1::after {
    content: "";
    position: absolute;
    left: 47%;
    bottom: 12px;
    width: 350px;
    height: 20px;
    transform: skew(-12deg) translateX(-50%);
    background: #17BEBB;
    z-index: -1;
}
h1:hover::after{
	content: "";
		position: absolute;
		left: 47%;bottom: 12px;
		width: 350px;
		height: 20px;
		transform: skew(-12deg) translateX(-50%);
		background: #F2BB05;
		z-index: -1;
}

div#skills>div {
	width: 60px;
	height: 60px;
	border-radius: 10px;
}

footer{
    position: absolute;
    bottom: 0;
    margin: 15px;
}
footer > a {
    color: #776871;
    margin: 15px;
}
footer>a:hover {
	color: #17BEBB;
}footer>a:active {
	color: #F2BB05;
}

@media screen and (max-width: 1079px) {
	#skills{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	.me {
		width: 100%;
	}
	div#skills>div {
		background-color: #FF078B;
		margin: 2px;
	}
	div#skills>div:hover {
		background-color: #F2BB05;
	}
}
@media screen and (min-width: 1080px) {
	.container {
		display: flex;
	}
	.me{
		width:50%;
	}
	div#skills>div {
		position: absolute;
	}
}


/*
References

Fancy underlines: https://sharkcoder.com/visual/underline
*/